body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul{
    background-color: cornflowerblue;
}
.Mod {
    background-color: darkolivegreen;
    color: darkorange;
}
p {
    font-weight: 600;
    font-size: 3em;
    line-height: 60px;
    font-style: italic;
    text-align: center;
}
a {
    background-color: olivedrab;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 7px;
}
div {
    margin-top: 50px;
}