main {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.button{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 4px 10px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:auto;
	text-decoration:none;
  text-shadow:0px 2px 0px #810e05;
  
}

.button:active {
  position: relative;
  top: 1px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* box-shadow: 4px 10px 0px 0px #8a2a21; */
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:auto;
	text-decoration:none;
	text-shadow:0px 2px 0px #810e05;
}

button:focus {
  outline: none;
}

p {
  font-size: large;
  font-weight: 800;
  margin-top: 50px;
}

p span {
  text-decoration: underline;
}